RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# Mostrar los archivos .html sin extensión
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]